{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
      <title>VC-chain</title>
      <link href="{% static 'plugins/jquery.filer/css/jquery.filer.css' %}" rel="stylesheet" />
      <link href="{% static 'plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css' %}" rel="stylesheet" />
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
   </head>
   <body class="fixed-left">
      <div id="wrapper">
      <div class="topbar">
         <div class="topbar-left">
            <a href="{% url 'index' %}" class="logo">
            <i class="fa fa-link"></i>
            <span>VC-chain</span>
            </a>
         </div>
         <nav class="navbar-custom">
            {% include "user_dropdown.html" %}
            <ul class="list-inline menu-left mb-0">
               <li class="float-left">
                  <button class="button-menu-mobile open-left waves-light waves-effect">
                  <i class="zmdi zmdi-menu"></i>
                  </button>
               </li>
            </ul>
         </nav>
      </div>
      <div class="left side-menu">
      <div class="sidebar-inner slimscrollleft">
         <div id="sidebar-menu">
            <ul>
               <li>
                  <div class="navbar-user-container">
                     <img src="{{ MEDIA_URL }}{{ user.img }}" alt="user" class="rounded-circle navbar-user-img">
                     <div class="wid-u-info user-info-container">
                        <h5 class="m-t-20 m-b-5 user-info">{{ user.name }}</h5>
                        <div class="inline">
                           <span class="inline navbar-user-name text-info font-weight-bold">{{ user.username }}</span>
                        </div>
                        <p class="text-muted mb-0 font-13">{{ user.email }}</p>
                     </div>
                     <div>
               </li>
               <li class="text-muted menu-title">Navigation</li>
               <li class="has_sub">
               <a href="{% url 'dashboard' user.username %}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
               </li>
               <li class="has_sub">
               <a href="{% url 'projects-list' user.username %}" class="waves-effect"><i class="zmdi zmdi-folder-outline"></i> <span> Projects </span> </a>
               </li>
               <li class="has_sub">
               <a href="{% url 'stars-list' user.username %}" class="waves-effect"><i class="zmdi zmdi-star-outline"></i> <span> Stars </span> </a>
               </li>
               <li class="has_sub">
               <a href="{% url 'forks-list' user.username %}" class="waves-effect"><i class="fa fa-code-fork"></i> <span> Forks </span> </a>
               </li>
               <li class="has_sub">
               <a href="{% url 'followers-list' user.username %}" class="waves-effect"><i class="icon-user-follow"></i> <span> Followers </span> </a>
               </li>
               <li class="has_sub">
               <a href="{% url 'following-list' user.username %}" class="waves-effect"><i class="icon-user-following"></i> <span> Following </span> </a>
               </li>
            </ul>
            <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            </div>
         </div>
         <div class="content-page">
            <div class="content">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-12">
                        <div class="page-title-box">
                           <h4 class="page-title float-left">Add Project</h4>
                           <ol class="breadcrumb float-right">
                              <li class="breadcrumb-item"><a href="{% url 'index' %}">VC-Chain</a></li>
                              <li class="breadcrumb-item"><a href="{% url 'dashboard' user.username %}">{{ user.username }}</a></li>
                              <li class="breadcrumb-item"><a href="{% url 'projects-list' user.username %}">Projects</a></li>
                              <li class="breadcrumb-item active">Add</li>
                           </ol>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="card-box">
                           <form role="form" method="post" action="{% url 'add-project-request' user.username %}" enctype="multipart/form-data" data-parsley-validate>
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-sm-12 col-xs-12 col-md-6">
                                    <div class="form-group">
                                       <label for="projectnameinput">Project name</label><span class="text-danger">*</span>
                                       <input type="text" class="form-control" name="projectnameinput" parsley-trigger="change" required="required" placeholder="Enter project name"  data-parsley-pattern="^[-\w_]{3,50}$">
                                       <small class="text-muted">A-Z a-z 0-9 _ - only allowed
                                       </small>
                                    </div>
                                 </div>
                                 <div class="col-sm-12 col-xs-12 col-md-6">
                                    <div class="form-group">
                                       <label for="branchnameinput">Branch name</label><span class="text-danger">*</span>
                                       <input type="text" class="form-control" name="branchnameinput" parsley-trigger="change" required="required" placeholder="Enter default branch name"  data-parsley-pattern="^[-\w_]{3,50}$">
                                       <small class="text-muted">A-Z a-z 0-9 _ - only allowed
                                       </small>
                                    </div>
                                 </div>
                                 <div class="col-sm-12 col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label for="descriptioninput">Project description</label>
                                       <input type="text" class="form-control" name="descriptioninput" parsley-trigger="change" placeholder="Enter project description"  data-parsley-pattern="^[-\w_ ]{0,250}$">
                                       <small class="text-muted">max 250 characters
                                       </small>
                                    </div>
                                 </div>
                                 <div class="col-sm-12 col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label for="commitmessageinput">Commit Message</label><span class="text-danger">*</span>
                                       <input type="text" class="form-control" name="commitmessageinput" parsley-trigger="change" required="required" placeholder="Enter commit message"  data-parsley-pattern="^[-\w_ ]{3,250}$">
                                       <small class="text-muted">max 250 characters
                                       </small>
                                    </div>
                                 </div>
                              </div>
                              <p class="text-muted mb-0 font-12">&nbsp</p>
                              <div class="row">
                                 <div class="col-sm-12 col-xs-12">
                                    <h4 class="header-title m-t-0">Add Files</h4>
                                    <div class="p-20">
                                       <div class="form-group clearfix">
                                          <div class="col-sm-12 padding-left-0 padding-right-0">
                                             <input type="file" name="files[]" id="filer_input1" parsley-trigger="change" required="required" data-parsley-required-message="Minimum one file required" multiple="multiple">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group  m-b-0" style="margin-left: 30px;">
                                 <button class="btn btn-primary waves-effect waves-light" type="submit">
                                 Add Project
                                 </button>
                                 <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                 Cancel
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <footer class="footer text-right">
            2017 © VC-Chain.
         </footer>
      </div>
      <script>
         var resizefunc = [];
      </script>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/tether.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/detect.js' %}"></script>
      <script src="{% static 'js/fastclick.js' %}"></script>
      <script src="{% static 'js/jquery.blockUI.js' %}"></script>
      <script src="{% static 'js/waves.js' %}"></script>
      <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
      <script src="{% static 'plugins/jquery.filer/js/jquery.filer.min.js' %}"></script>
      <script src="{% static 'plugins/parsleyjs/parsley.min.js' %}"></script>
      <script src="{% static 'js/jquery.app.js' %}"></script>
      <script src="{% static 'pages/jquery.fileuploads.init.js' %}"></script>
   </body>
</html>
