{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>VC-chain</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body class="fixed-left">
    <div id="wrapper">
    <div class="topbar">
      <div class="topbar-left">
        <a href="index.html" class="logo">
        <i class="fa fa-link"></i>
        <span>VC-chain</span>
        </a>
      </div>
      <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="index.html#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="{% static 'images/users/ccd-avatar.jpg' %}" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
              <div class="dropdown-item noti-title">
                <h5 class="text-overflow"><small>Hi! CCD</small> </h5>
              </div>
              <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="zmdi zmdi-settings"></i> <span>Settings</span>
              </a>
              <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="zmdi zmdi-power"></i> <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
        <ul class="list-inline menu-left mb-0">
          <li class="float-left">
            <button class="button-menu-mobile open-left waves-light waves-effect">
            <i class="zmdi zmdi-menu"></i>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
        <ul>
          <li>
            <div class="navbar-user-container">
              <img src="{% static 'images/users/ccd-avatar.jpg' %}" alt="user" class="rounded-circle navbar-user-img">
              <div class="wid-u-info user-info-container">
                <h5 class="m-t-20 m-b-5 user-info">Cyprien Dcunha</h5>
                <div class="inline">
                  <span class="inline navbar-user-name text-info font-weight-bold">CCD</span>
                </div>
                <p class="text-muted mb-0 font-13">dcunha.cyprien@gmail.com</p>
              </div>
              <button type="button" class="btn btn-info waves-effect waves-light navbar-follow-button">
              <span class="btn-label"><i class="icon-user-follow"></i>
              </span>Follow</button>
              <div>
          </li>
          <li class="text-muted menu-title">Navigation</li>
          <li class="has_sub">
          <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
          </li>
          <li class="has_sub">
          <a href="#" class="waves-effect"><i class="zmdi zmdi-folder-outline"></i> <span> Projects </span> </a>
          </li>
          <li class="has_sub">
          <a href="#" class="waves-effect"><i class="zmdi zmdi-star-outline"></i> <span> Stars </span> </a>
          </li>
          <li class="has_sub">
          <a href="#" class="waves-effect"><i class="fa fa-code-fork"></i> <span> Forks </span> </a>
          </li>
          <li class="has_sub">
          <a href="#" class="waves-effect"><i class="icon-user-following"></i> <span> Followers </span> </a>
          </li>
          <li class="has_sub">
          <a href="#" class="waves-effect"><i class="icon-user-follow"></i> <span> Following </span> </a>
          </li>
        </ul>
        <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
      </div>
      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="page-title-box">
                  <h4 class="page-title float-left">helloCL</h4>
                  <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="index.html#">VC-Chain</a></li>
                    <li class="breadcrumb-item"><a href="index.html#">CCD</a></li>
                    <li class="breadcrumb-item"><a href="index.html#">Projects</a></li>
                    <li class="breadcrumb-item"><a href="index.htm">helloCL</a></li>
                    <li class="breadcrumb-item active">master</li>
                  </ol>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card m-b-20">
                  <div class="card-header project-info-card">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img class="margin-r-10" src="{% static 'images/icons/git-branch.svg' %}">master<span class="caret"></span></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">master</a>
                        <a class="dropdown-item" href="#">stagging</a>
                        <a class="dropdown-item" href="#">testing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><span class="invisible-button-icon"><i class="fa fa-plus margin-r-10"></i>Add Branch</a>
                      </div>
                    </div>
                    <div class="pull-right m-t-15 btn-group">
                      <button type="button" class="btn btn-outline-primary waves-effect waves-light margin-20">
                      <span class="invisible-button-icon">Star <i class="zmdi zmdi-star-outline"></i>
                      </span>2</button>
                      <button type="button" class="btn btn-outline-primary waves-effect waves-light margin-20">
                      <span class="invisible-button-icon">Fork <i class="fa fa-code-fork"></i>
                      </span>0</button>
                      <button type="button" class="btn btn-outline-primary waves-effect waves-light margin-20">
                      <span class="invisible-button-icon">Commit <i class="zmdi zmdi-time-restore"></i>
                      </span>32</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card m-b-20">
                  <div class="card-header project-card-header">
                    <img src="{% static 'images/users/ccd-avatar.jpg' %}" alt="user" class="rounded-circle" style="width: 40px">
                    <span class="inline commit-proj-username text-info font-weight-bold">CCD</span> Add opencl helper functions
                    <div class="pull-right m-t-15">
                      <button type="button" class="btn btn-outline-primary waves-effect waves-light margin-20">
                      <span class="invisible-button-icon"><i class="fa fa-plus"></i>
                      </span>Add File</button>
                    </div>
                  </div>
                  <div class="card-block file-bottom-line">
                    <div class="row">
                      <div class="col-sm-4">
                        <i class="zmdi zmdi-file zmdi-hc-lg text-primary"></i><a class="margin-20 font-16" href="#">image-grayscale.cpp</a>
                      </div>
                      <div class="col-sm-6">
                        Add Graysscaling
                      </div>
                      <div class="col-sm-2">
                        <div class="pull-right m-t-15">
                          8 months ago
                        </div>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                  <div class="card-block file-bottom-line">
                    <div class="row">
                      <div class="col-sm-4">
                        <i class="zmdi zmdi-file zmdi-hc-lg text-primary"></i><a class="margin-20 font-16" href="#">image-blur.cpp</a>
                      </div>
                      <div class="col-sm-6">
                        Add Gaussian Filter
                      </div>
                      <div class="col-sm-2">
                        <div class="pull-right m-t-15">
                          8 months ago
                        </div>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                  <div class="card-block file-bottom-line">
                    <div class="row">
                      <div class="col-sm-4">
                        <i class="zmdi zmdi-file zmdi-hc-lg text-primary"></i><a class="margin-20 font-16" href="#">main.cpp</a>
                      </div>
                      <div class="col-sm-6">
                        Add opencl helper functions
                      </div>
                      <div class="col-sm-2">
                        <div class="pull-right m-t-15">
                          8 months ago
                        </div>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer text-right">
        2017 © VC-Chain.
      </footer>
    </div>
    <script>
      var resizefunc = [];
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/detect.js' %}"></script>
    <script src="{% static 'js/fastclick.js' %}"></script>
    <script src="{% static 'js/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/jquery.app.js' %}"></script>
  </body>
</html>
