{% load staticfiles %}
<div id="sidebar-menu">
   <ul>
      <li>
         <div class="navbar-user-container">
            <img src="{{ MEDIA_URL }}{{ user.img }}" alt="user" class="rounded-circle navbar-user-img">
            <div class="wid-u-info user-info-container">
               <h5 class="m-t-20 m-b-5 user-info">{{ user.name }}</h5>
               <div class="inline">
                  <span class="inline navbar-user-name text-info font-weight-bold">{{ user.username }}</span>
               </div>
               <p class="text-muted mb-0 font-13">{{ user.email }}</p>
            </div>
            {% if request.user.is_authenticated and request.user.username != user.username %}
              {% if user.follow_button %}
                <button type="button" class="btn btn-info waves-effect waves-light navbar-follow-button" onclick='location.href="{% url 'follow' request.user.username user.username %}";'>
                <span class="btn-label"><i class="icon-user-follow"></i>
                </span>Follow</button>
              {% else %}
                <button type="button" class="btn btn-info waves-effect waves-light navbar-follow-button" onclick='location.href="{% url 'unfollow' request.user.username user.username %}";'>
                <span class="btn-label"><i class="icon-user-unfollow"></i>
                </span>Unfollow</button>
              {% endif %}
            {% endif %}
            <div>
      </li>
      <li class="text-muted menu-title">Navigation</li>
      <li class="has_sub">
      <a href="{% url 'dashboard' user.username %}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
      </li>
      <li class="has_sub">
      <a href="{% url 'projects-list' user.username %}" class="waves-effect"><i class="zmdi zmdi-folder-outline"></i> <span> Projects </span> </a>
      </li>
      <li class="has_sub">
      <a href="{% url 'stars-list' user.username %}" class="waves-effect"><i class="zmdi zmdi-star-outline"></i> <span> Stars </span> </a>
      </li>
      <li class="has_sub">
      <a href="{% url 'forks-list' user.username %}" class="waves-effect"><i class="fa fa-code-fork"></i> <span> Forks </span> </a>
      </li>
      <li class="has_sub">
      <a href="{% url 'followers-list' user.username %}" class="waves-effect"><i class="icon-user-follow"></i> <span> Followers </span> </a>
      </li>
      <li class="has_sub">
      <a href="{% url 'following-list' user.username %}" class="waves-effect"><i class="icon-user-following"></i> <span> Following </span> </a>
      </li>
   </ul>
   <div class="clearfix"></div>
   </div>
   <div class="clearfix"></div>
   </div>
</div>
