{% load staticfiles %}
{% if request.user.is_authenticated %}
  <ul class="list-inline float-right mb-0">
     <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
        <img src="{{ MEDIA_URL }}{{ user.user_img }}" alt="user" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
           <div class="dropdown-item noti-title">
              <h5 class="text-overflow"><small>Hi! {{ request.user.username }}</small> </h5>
           </div>
           <a href="{% url 'edit-profile' request.user.username %}" class="dropdown-item notify-item">
           <i class="zmdi zmdi-settings"></i> <span>Settings</span>
           </a>
           <a href="{% url 'signout' %}" class="dropdown-item notify-item">
           <i class="zmdi zmdi-power"></i> <span>Logout</span>
           </a>
        </div>
     </li>
  </ul>
{% else %}
  <p class="signin-signup float-right" style="color:#949595;">
    <a href="{% url 'index' %}" class="font-weight-bold white-link">SignIn</a> or
    <a href="{% url 'index' %}" class="font-weight-bold white-link">SignUp</a>
  </p>
{% endif %}
